@import url(https://fonts.googleapis.com/css?family=Cabin:400);

/* .webdesigntuts-workshop {
  height: 100%;
  position: inherit;
  text-align: center;
  width: 100%;
} */

/* .webdesigntuts-workshop:before,
.webdesigntuts-workshop:after {
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  margin: 0 0 0 -400px;
  position: absolute;
  width: 800px;
} */

/* .webdesigntuts-workshop form {
  background: linear-gradient(#e2e2e2, #6b6b6b);
  width: 50%;
  min-width: 300px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #0a0a0a;
  display: inline-block;
  font-size: 0px;
  padding: 5px;
  margin-top: 5px;
  position: relative;
  z-index: 1;
} */

/* .webdesigntuts-workshop input {
  background: #868686;
  background: linear-gradient(#ffffff, #969696);
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 #7a7a7a;
  color: #afafaf;
  display: block;
  float: left;
  font-family: "Cabin", helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 80%;
} */

/* .ie .webdesigntuts-workshop input {
  line-height: 40px;
} */

/* .webdesigntuts-workshop input::-webkit-input-placeholder {
  color: #949292;
} */

/* .webdesigntuts-workshop input:-moz-placeholder {
  color: #888;
} */

/* .webdesigntuts-workshop input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #33a533;
  background: linear-gradient(#333933, #565856);
  border-color: #393;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1),
    0 2px 0 #000;
  color: #efe;
  outline: none;
} */

/* .webdesigntuts-workshop input:focus::-webkit-input-placeholder {
  color: rgb(141, 141, 141);
} */

/* .webdesigntuts-workshop input:focus:-moz-placeholder {
  color: #efe;
} */

/* .webdesigntuts-workshop .searchbutton {
  background: #555555;
  background: linear-gradient(#ffffff, #969696);
  box-sizing: border-box;
  border: 1px solid #444;
  border-left-color: #666666;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 0 #757575;
  color: #414141;
  display: block;
  float: left;
  font-family: "Cabin", helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #929292;
  width: 20%;
}
.webdesigntuts-workshop button.togglesearch {
  background: none;
  border: none;
  box-shadow: none;
}

.webdesigntuts-workshop .searchbutton:hover,
.webdesigntuts-workshop .searchbutton:focus {
  background: #2c2c2c;
  background: linear-gradient(#a3a2a2, #0f0f0f);
  color: rgb(28, 201, 192);
  outline: none;
}

.webdesigntuts-workshop .searchbutton:active {
  background: #696969;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #15d6cd;
  top: 1px;
}
#searchButton {
  font-size: large;
}

@keyframes glow {
  0% {
    border-color: rgb(33, 202, 194);
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1),
      0 2px 0 #8d8b8b;
  }
  100% {
    border-color: rgb(20, 230, 230);
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.6),
      inset 0 0 10px rgba(0, 255, 0, 0.4), 0 2px 0 #a5a3a3;
  }
} */

input.search.desktop {
  height: 38px;
  border-radius: 7px;
  padding-left: 10px;
}

.search {
  border-radius: 7px;
}

.searchbutton {
  height: 36px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 10px;
}

.searchLupe {
  display: flex;
}

[type="search"] {
  width: 15vw;
}
